.left{
    margin: 5px;
  }
  
  .left-info{
    margin: 5px;
  }
  .left-top{
    margin: 5px;
    display: flex;
    justify-content: space-between;
  }
  .left-top-right{
    display: flex;
    justify-content: space-between;   
    margin: 5px;
  }

  