
*{
  margin: 0;
  padding: 0;
}
.container{
  border: 0.5px solid grey;
  color: gray;
  width: 800px;
  height: 400px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.right{
  margin: 5px;
}
.amount-detail{
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
  justify-content: space-between  ;
}
.details{
  margin-top: 30px;
}
